@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, var(--colorGradiente1), var(--colorGradiente2));
    --colorGradiente1: #ffffff; /* Color inicial del degradado */
    --colorGradiente2: #6d6d63; /* Color final del degradado */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.contentheader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagenh {
    height: 70px;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
}



.menu a {
    transition: 0.5s;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 18px;
}

.menu a:hover {
    transition: 0.5s;
    background: #555;
    color: rgb(255, 255, 255);
    border: solid;
    border-width: 1px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Form Styles */
.formulario {
    display: flex;
    position: relative;
    max-width: 800px;
    z-index: 10;
    justify-content: space-around;
    margin: 40px auto;
    background: whitesmoke;
    border-radius: 4px;
    padding: 40px 0;
    -webkit-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 17px 21px -6px rgba(0, 0, 0, 0.75);
}



.formulario img {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 800px;
    margin: 10px 0px 10px 30px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer h1 {
    margin: 0;
}

footer p {
    margin: 5px 0 0;
    font-size: 14px;
}

input {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    background: transparent;
    width: 100%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}